#srchicon{
    background: none;

}
.btnsrch{
    background-color: #FF1E56 !important;
}
.main_srchbox{
    width: 70%;
    height: auto;

    margin: 0 auto;
    float: none;
    align-items: center;
    margin-top: 60px;
}
#formctrl{
    
    border: 2px solid grey;
}