.product{
    background-color: white;
    padding: 5px;
    margin: 10px;
    color: black;
    width: 300px;
    height: 550px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
.productlist{
    background-color: black;
    margin: 10px;
    padding: 10px;
}
.image{
    width: 1200px;
    height: 600px; 
}
.fixed-nav{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 45;
    
}